/* Announcement bar */
.md-announce {
    background-color: #F8F9FA;
}

.md-announce__inner {
    text-align: center;
}

.md-announce__button {
    color: #3884FF;
    font-weight: 500;
    text-decoration: none;
}

/* Footer */
.md-footer {
    background-color: #F5F7F9;
}

.md-footer-meta {
    background-color: transparent;
}

.md-footer-copyright {
    color: #5C6975;
}
